Repository cvanaret/Uno, pull requests merged in 2025-10, with the labels that each got.

#310 [Uno.jl] Finalize the interface for MathOptInterface.jl -- JuMP
  .github/workflows/julia-tests-uno.yml
  .github/workflows/julia-wrappers.yml
  README.md
  bindings/Julia/Project.toml
  bindings/Julia/README.md
  bindings/Julia/Uno.jl/ext/UnoMathOptInterfaceExt.jl
  bindings/Julia/Uno.jl/test/NLP_wrapper.jl
  bindings/Julia/ext/UnoMathOptInterfaceExt/MOI_utils.jl
  bindings/Julia/ext/UnoMathOptInterfaceExt/MOI_wrapper.jl
  bindings/Julia/ext/UnoMathOptInterfaceExt/UnoMathOptInterfaceExt.jl
  bindings/Julia/ext/UnoNLPModelsExt/UnoNLPModelsExt.jl
  bindings/Julia/gen/Project.toml
  bindings/Julia/gen/README.md
  bindings/Julia/gen/prologue.jl
  bindings/Julia/gen/uno.toml
  bindings/Julia/gen/wrapper.jl
  bindings/Julia/src/C_wrapper.jl
  bindings/Julia/src/Uno.jl
  bindings/Julia/src/libuno.jl
  bindings/Julia/test/C_wrapper.jl
  bindings/Julia/test/MOI_wrapper.jl
  bindings/Julia/test/NLP_wrapper.jl
  bindings/Julia/test/runtests.jl
Labels: feature, interfaces/bindings

#331 [C interface] Copy internally the vectors passed by the user
  interfaces/C/Uno_C_API.cpp
  interfaces/C/Uno_C_API.h
  interfaces/Python/python_modules/Model.cpp
  interfaces/UserModel.hpp
Labels: bug, interfaces/bindings

#340 Prep for v2.2.1
  CITATION.cff
  CMakeLists.txt
  interfaces/C/Uno_C_API.h
  uno/Uno.cpp
Labels: release
